# Ignore some config files/dir
config/vault_password
config/ssh_config
config/ansible.log

# Ignore upstream code directory
roles/*
!roles/requirements.yml
collections/*
!collections/requirements.yml

# Ignore generic files
*.pyc
*.tar.gz
*.rpm

### Password file
*.vaultid
*.secret

### Vagrant project files
*.vagrant
*.vagrant.d

### Visual Studio Code / Intellij IDEA Project Files
*.vscode
*.idea
*.code-workspace

# MacOS cruft
.DS_Store

### Ansible
*.retry
